.fr-link {
  --text-spacing: 0;
  --title-spacing: 0;
  align-items: center;
  color: #000091;
  display: inline-flex;
  flex-direction: row;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0;
  z-index: 1;
  text-decoration: none;
}

[href] {
  background-image: linear-gradient(0deg, currentColor, currentColor),
    linear-gradient(0deg, currentColor, currentColor);
  background-position: 50% calc(50% + 0.71875em), 50% calc(50% + 0.65625em);
  background-repeat: no-repeat, no-repeat;
  background-size: 0 0.0625em, 100% 0.0625em;
  transition: background-size 0s;
}
