[role="gridcell"]:focus,
[role="gridcell"] *:focus {
  outline: #005a9c;
  outline-style: dotted;
  outline-width: 3px;
}

.la-grille {background-color: white;}

.row-table {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  height: 70px;
}

.row-table-header {
  font-weight: 700;
  line-height: 1.4;
  background-color: #F6F6F6;
  border-bottom: 2px solid black;
  align-items: flex-end;
  justify-content: flex-start;
}

[role="gridcell"],[role="columnheader"] {
  padding: 16px 8px 8px 8px ;
  display: inline-block;
  text-align: left;
}

.row-table-pair {
  background-color: #F6F6F6;
}
.row-table-impair {
  background-color: #EEEEEE;
}