<div
  id="LA-GRILLE"
  role="grid"
  aria-labelledby="LE-LABEL-KI-VA-BIEN"
  aria-rowcount="3"
  data-per-page="1"
  data-wrap-cols="true"
>
  <div role="row" class="row-table row-table-header">
    <span tabindex="-1" aria-colindex="1" role="columnheader">Organisme</span>
    <span tabindex="-1" aria-colindex="2" role="columnheader">Poste</span>
    <span tabindex="-1" aria-colindex="3" role="columnheader"
      >Heures affectées</span
    >
    <span tabindex="-1" aria-colindex="4" role="columnheader"
      >Heures effectuées</span
    >
    <span tabindex="-1" aria-colindex="5" role="columnheader"
      >Dateee de début/fin de travail</span
    >
    <span tabindex="-1" aria-colindex="6" role="columnheader">Etat</span>
    <span tabindex="-1" aria-colindex="7" role="columnheader"></span>
  </div>
  <div role="row" class="row-table row-table-impair">
    <span tabindex="-1" aria-colindex="1" role="gridcell">Donnée 1</span>
    <span tabindex="-1" aria-colindex="2" role="gridcell">Donnée 2</span>
    <span tabindex="-1" aria-colindex="3" role="gridcell">50h</span>
    <span tabindex="-1" aria-colindex="4" role="gridcell">22h</span>
    <span tabindex="-1" aria-colindex="5" role="gridcell"
      >01/01/2020 - 01/01/2025</span
    >
    <div tabindex="-1" aria-colindex="6" role="gridcell">
      <app-badge [libelle]="'Terminé'"></app-badge>
    </div>
    <div tabindex="-1" aria-colindex="7" role="gridcell">
      <app-lien [libelle]></app-lien>
    </div>
  </div>
  <div role="row" class="row-table row-table-pair">
    <span tabindex="-1" aria-colindex="1" role="gridcell">Donnée 1</span>
    <span tabindex="-1" aria-colindex="2" role="gridcell">Donnée 2</span>
    <span tabindex="-1" aria-colindex="3" role="gridcell">50h</span>
    <span tabindex="-1" aria-colindex="4" role="gridcell">22h</span>
    <span tabindex="-1" aria-colindex="5" role="gridcell"
      >01/01/2020 - 01/01/2025</span
    >
    <div tabindex="-1" aria-colindex="6" role="gridcell">
      <app-badge [libelle]="'Terminé'"></app-badge>
    </div>
    <div tabindex="-1" aria-colindex="7" role="gridcell">
      <app-lien [libelle]></app-lien>
    </div>
  </div>
  <div role="row" class="row-table row-table-impair">
    <span tabindex="-1" aria-colindex="1" role="gridcell">Donnée 1</span>
    <span tabindex="-1" aria-colindex="2" role="gridcell">Donnée 2</span>
    <span tabindex="-1" aria-colindex="3" role="gridcell">50h</span>
    <span tabindex="-1" aria-colindex="4" role="gridcell">22h</span>
    <span tabindex="-1" aria-colindex="5" role="gridcell"
      >01/01/2020 - 01/01/2025</span
    >
    <div tabindex="-1" aria-colindex="6" role="gridcell">
      <app-badge [libelle]="'Terminé'"></app-badge>
    </div>
    <div tabindex="-1" aria-colindex="7" role="gridcell">
      <app-lien [libelle]></app-lien>
    </div>
  </div>
</div>
